body,
html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
    height: 100vh;
    background-image: url("assets/ecs.jpg");
    background-size: auto;

}


.navbar {
    background-color: #2fc3c7;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav.navbar .icon {
    font-size: 34px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

nav.navbar .title {
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2fc3c7;
    color: black;
    transition: left 0.6s ease-in-out;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #2fc3c7;
}

.sidebar-header h3 {
    margin: 0;
}

.sidebar-header .close-btn {
    font-size: 24px;
    cursor: pointer;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    border-bottom: 1px solid #2fc3c7;
}

.sidebar-links a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #3e6268;
}


.welcome-section {
    padding: 20px;
}

.welcome-text {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 76.5vh
}


.button-section .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #2fc3c7;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.button-section .btn:hover {
    background-color: #3e5368;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}


footer {
    text-align: center;
    background-color: #2fc3c7;
    color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
}