body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #454343;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-size: 24px;
    flex: 1;
    text-align: center;
}

.logout-button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #f44336;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.sales-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 1px;
    background-color: #ddd;
}

.header {
    background-color: #454343;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.data {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #454343;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;

}